body{
	font-family: 'Poppins', sans-serif;
	background-color: #121212;
  }
  body h1{
	color: #bebda7;
  }
  body p{
	color: #bebda7;
  }
  .dwnld{
	font-family: 'Poppins', sans-serif;
	background-color: #87ff72;
	box-shadow: 0 5px 0 #25c946;
	border-radius: 5px;
	border: 0px;
  }
  .dwnld:active{
	box-shadow: none;
	transform: translateY(5px);
  }